name: sources

on:  
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: submodules
      run: git submodule update --init --recursive
    - name: configure
      run: cmake -B build
    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: kunia_sources
        path: ${{github.workspace}}
